/* normalize */
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
    outline:none;
}
html {
    font-size: 62.5%;
    height: -webkit-fill-available;
}
body {
    height: -webkit-fill-available;
}
a,
a:active,
a:visited {
    color:inherit
}
textarea {
    resize:none;
}
/* ---------- */

/* wrapper */
#wrapper {
    max-width: 700px;
    min-height: 100vh; 
    min-height:-webkit-fill-available; 
    margin: 0 auto; 
    position: relative;
}
/* ---------- */

/* header */
#header {
    display:flex;
    justify-content: center; 
    width:100%; 
    position:fixed; 
    top:0; 
    left:0; 
    z-index: 9;
    height: 47px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 7%);
}
#header .title {
    font-size: 1.8rem;
    font-weight: 600; 
    width:100%;
    line-height:47px;
    max-width: 700px;
    padding: 0 18px; 
    cursor:default;
}
/* ---------- */

/* content */
#content {
    padding:70px 18px;
}
#content .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#content .board-list {
    width:100%;
    text-align:center;
    table-layout:fixed;
}
#content .board-list .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#content .board-list .subject a:hover {
    text-decoration: underline;
}
#content .board-list th, 
#content .board-list td {
    line-height:2.5rem;
}
/* ---------- */


/* footer */
#footer {
    position:absolute;
    left:0;
    bottom:0;
    z-index:9;
    width:100%;
    height:70px;
    line-height:70px;
    padding:0 18px;
    font-size:1.2rem;
    color:#7a7b7d;
}
#chat {
    position:absolute;
    left:0;
    bottom:70px;
    z-index:9;
    width:100%;
    height:90px;
    padding:0 18px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#chat .circular.icon {
    font-size: 1.8rem;
}
#chat-room {
    position: absolute;
    right: 18px;
    bottom: 140px;
    z-index:9;
}
/* ---------- */

/* vue v-cloak */
[v-cloak] {
    display: none;
}