/* normalize */
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
    outline:none;
}
html {
    font-size: 62.5%;
    height: -webkit-fill-available;
}
body {
    height: -webkit-fill-available;
}
a,
a:active,
a:visited {
    color:inherit
}
textarea {
    resize:none;
}
/* ---------- */

#chat {
    position:absolute;
    left:0;
    bottom:70px;
    z-index:9;
    width:100%;
    height:90px;
    padding:0 18px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#chat .circular.icon {
    font-size: 1.8rem;
}
#chat-room {
    position: absolute;
    right: 18px;
    bottom: 140px;
    z-index:9;
}